
:root {
    --bg : url("https://images.unsplash.com/photo-1591468069148-5cc79ed1caaa?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=764&q=80");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    /*background: url(imgs/cenario-fascinante-de-montanhas-verdes-com-ceu-nublado.jpg) no-repeat;*/
    background: var(--bg) no-repeat;
    background-size: cover;
    background-position: center;
    font-family: 'Chakra Petch', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.clima {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 50%;
    min-width: 300px;
    max-width: 450px;
    box-shadow: 0 15px 25px rgba(129, 124, 124, 0.2);
    height: 70%;
    min-height: 490px;
    border-radius: 25px;
    backdrop-filter: blur(5px);
    background-color: rgba(255, 255, 255, 0.2);
    padding: 15px;
}

.clima h1 {
    font-size: 70px;
    margin-top: 0px;
}

.clima h2 {
    font-size: 30px;
    margin-top: 0px;
    text-transform: capitalize;
}

.clima h3 {
    font-size: 20px;
    margin-top: 5px;
    margin-right: 5px;
}


.local {
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.infos {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-right: auto;
    margin-left: auto;
    width: 100%;
    height:70%;
    padding: 10px;
    text-align: center;
}

.local2 {
    display: flex;
}

.local input {
    background: 0;
    margin-bottom: 8px;
    border: 0;
    outline: none;
    width: 100%;
    font-size: 1.5em;
    margin-top: 10px;
    text-transform: capitalize;
}

.local i {
    border: none;
    background: transparent;
    margin: 8px;
    font-size: 30px;
} 

.local button {
    cursor: pointer;
    border: none;
    background: transparent;
    margin: 8px;
    font-size: 30px;
}

.infos2 {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
}

.infosD {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.infos2 i {
    border: none;
    background: transparent;
    margin: 8px;
    font-size: 30px;
} 
